.review-form {
  font-family: sans-serif;

  h1 {
    font-size: 2em;
    text-align: center;
    margin-bottom: 4%;
  }

  label {
    text-align: center;
    font-size: 1.5em;
  }

  label, textarea {
    display: block;
    margin: 1.5% auto;
  }

  textarea, p {
    font-size: 0.75em;
    width: 90%;
  }

  p {
    margin: 0 auto;
  }
  
}
