.header-container {
	max-width: $max-width;
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
	.title {
		font-size: 3em;
		float: left;
		margin-left: 20px;
		margin-top: 20px;
	}
	nav {
	  display: inline-block;
		margin-top: 20px;
	}
	ul {
		list-style: none;
	}
	li {
		display: inline-block;
	}
	li:nth-child(n+2) {
		margin-left: 15px;
	}
	#user-profile-img {
		height: 50px;
		width: 50px;
		border-radius: 20px;
	}
	.menu-icon-container {
		float: right;
		margin: 20px;
		.menu-icon {
			height: 50px;
			width: 50px;
		}
	}

	@media screen and (min-width: 650px){
		.menu-icon-container{
			display: none;
		}
	}
}
