@import url(https://fonts.googleapis.com/css?family=Noto+Serif:400,400italic,700|Roboto:400,700);

$max-width: 1080px;
$primary: #4d0099;
// $secondary
$font-std: 'Noto Serif', serif;

body{
  font-family: $font-std;
  color: #fff;
}

header {
  background: $primary;
}

a {
  color: inherit;
  text-decoration: none;
}

/*Footer Styles*/

footer{
  background:#d94734;
  color: white;
  bottom: 0;
  display: inline-block;
  width: 100%;
}

footer div {
  margin: 0 10%;
  padding: 10px;
}

footer section {
  width: 33%;
  display: inline-block;
  vertical-align: top;
  margin-bottom: 10px;
}

footer ul {
  margin-left: 10px;
}

footer h2 {
  font-size: 1.25em;
  margin-bottom: 10px;
  position: relative;
}

/*Button Styles*/

.nav-btns{
  margin: 0 0 0 40%;
}

.btn {
  background: #d94734;
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 14px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  border: none;
}

.btn:hover {
  background: #6e7275;
  border: none;
  text-decoration: none;
}

