@import url(https://fonts.googleapis.com/css?family=Noto+Serif:400,400italic,700|Roboto:400,700);

body{
  font-family: 'Noto Serif', serif;
  font-size: 16px;
  margin: 0 auto;
  max-width: 1350px;
  min-width: 303px;
}

/*Header Styles*/

header{
  background-color: #333333;
  height: 75px;
}

header div{
  margin: 0 10%;

}

header section{
  display: inline-block;
  width: 49%;
}


h1{
  font-size: 4em;
  color: white;
}

header nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: 3333;
}

header nav {
  display: inline-block;

}

header nav li {
  float: left;
  color: white;
  margin: 0 0 0 10px;
}

header nav li a:hover {
  background-color: red;

}

header nav li a{
  color: white;
  text-decoration: none;
}

/*Button Styles*/

.nav-btns{
  margin: 0 0 0 40%;
}

.btn {
  background: #d94734;
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 14px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  border: none;
}

.btn:hover {
  background: #6e7275;
  border: none;
  text-decoration: none;
}

/*Footer Styles*/

footer{
  background:#d94734;
  color: white;
  position:absolute;
  bottom: 0;
  display: inline-block;
  width: 100%;
}

footer div {
  margin: 0 10%;
  padding: 10px;
}

footer section {
  width: 33%;
  display: inline-block;
  vertical-align: top;
  margin-bottom: 10px;
}

footer ul {
  margin-left: 10px;
}

h2 {
  font-size: 1.25em;
  margin-bottom: 10px;
  position: relative;
}
