<section class="review-form">
	<form action="">
		<h1>Write a review!</h1>

		<label>People</label>
		<p>How friendly were the employees? Who would you recommend come here? Did your friends tell you about this place? What kinds of people would enjoy coming here?</p>
		<textarea name="" id="" rows="4" placeholder="Examples: knowledgeable service, great nerd meetup, romantic date spot, full of hipsters"></textarea>
		<label title="asdfasdf">Time</label>
		<p>How long was your trip? How long was your wait to order or get food? How soon did you get where you were going?</p>
		<textarea name="" id="" rows="4" placeholder="Examples: fast delivery, long lines, worth the trek, 2am burrito"></textarea>
		<label>Quality</label>
		<p>How was the food? How was the portion size? Did you get what you expected?</p>
		<textarea name="" id="" rows="4" placeholder="Examples: makes me drool to think about, biggest slice ever, never had Mexican like that before"></textarea>
		<label>Soul</label>
		<p>How were the asthetics? Did it meet your expectations? What did you expect from what was marketed?</p>
		<textarea name="" id="" rows="4" placeholder="Examples: authentic Russian borsch, make 7, ups and downs"></textarea>
		<label>Missing</label>
		<p>What would make the experience better?</p>
		<textarea name="" id="" rows="4" placeholder="Examples: too many menu pages, didn't have what I wanted, menu never changes"></textarea>

	</form>
</section>
