<section class="review-page">
  <h1>Review Good Burger</h1>
  <p>Don't tell me if, tell me why!</p>

  <form id="addReview" class="review-form">
    <fieldset>
      <label for="people">People</label>
      <textarea type="text" id="people" maxLength="400" rows="4" autofocus></textarea>
    </fieldset>
    <fieldset>
      <label for="time">Time</label>
      <textarea type="text" id="time" maxLength="400" rows="4"></textarea>
    </fieldset>
    <fieldset>
      <label for="quality">Quality</label>
      <textarea type="text" id="quality" maxLength="400" rows="4"></textarea>
    </fieldset>
    <fieldset>
      <label for="soul">Soul</label>
      <textarea type="text" id="soul" maxLength="400" rows="4"></textarea>
    </fieldset>
    <fieldset>
    <label for="missing">What one thing are they missing?</label>
      <textarea type="text" id="soul" maxLength="400" rows="4"></textarea>
    </fieldset>
    <input type="submit">
  </form>

</section>
