<section class='business-detail-container'>
	<div class='business-info'>
		<p class='business-name'>{{business.name}}</p>
		<!-- To Do: show open or closed text -->
		<p class='business-open-closed'>open?</p>
		<p>{{business.fullAddress}}</p>
		<p class='business-distance'>x miles away</p>
	</div>

	<!-- Word cloud should show here -->
	<img class='business-map' src='https://placeholdit.imgix.net/~text?txtsize=63&amp;txt=WORD-CLOUD&amp;w=250&amp;h=250&amp;txttrack=0' alt=''>

	<button class='review-button'>Click to Review!</button>
	<img class='business-map' src='https://placeholdit.imgix.net/~text?txtsize=63&amp;txt=MAP&amp;w=250&amp;h=250&amp;txttrack=0' alt=''>
	<img class='business-map' src='https://placeholdit.imgix.net/~text?txtsize=63&amp;txt=BUSINESS-IMG1&amp;w=250&amp;h=250&amp;txttrack=0' alt=''>
	<img class='business-map' src='https://placeholdit.imgix.net/~text?txtsize=63&amp;txt=BUSINESS-IMG2&amp;w=250&amp;h=250&amp;txttrack=0' alt=''>

</section>
